<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.gosleep.blog.mapper.TagMapper">
    <select id="listByArticle" resultType="top.gosleep.blog.bean.entity.Tag">
        SELECT t.id, t.name
        FROM article_tag at
        JOIN tag t
            ON at.tag_id = t.id
        WHERE article_id = #{a}
    </select>
</mapper>